<label for="objective-text"><small>Enter an objective and generate tasks. The AI will attempt to
        complete tasks autonomously</small></label>
<textarea id="objective-text" type="text" class="text_pole textarea_compact" rows="4"></textarea>
<div class="objective_block flex-container">
    <input id="objective-generate" class="menu_button" type="submit" value="Auto-Generate Tasks" />
    <input id="objective-generate-more" class="menu_button" type="submit" value="Generate More Tasks" />
    <input id="objective-clear" class="menu_button" type="submit" value="Clear Tasks" />
    <label class="checkbox_label"><input id="objective-hide-tasks" type="checkbox">Hide Tasks</label>
</div>
<div id="objective-parent" class="objective_block flex-container">
    <i class="objective-task-button fa-solid fa-circle-left fa-2x" title="Go to Parent"></i>
    <small>Go to parent task</small>
</div>

<!-- Progress bar will be inserted here by JavaScript -->

<!-- Filter and sort controls will be inserted here by JavaScript -->

<div id="objective-tasks"> </div>
