<div id="objective-task-item-{{id}}" class="objective-task-item">
    <div id="objective-task-label-{{id}}" class="flex1 checkbox_label alignItemsCenter">
        <div id="objective-task-drag-{{id}}" class="objective-task-button fa-solid fa-grip-vertical fa-fw fa-lg" title="Drag to reorder"></div>
        <input id="objective-task-complete-{{id}}" type="checkbox" {{#if completed}}checked{{/if}}>
        <span id="objective-task-description-{{id}}" class="text_pole objective-task" contenteditable="true">&nbsp;{{description}}</span>
        <div id="objective-task-delete-{{id}}" class="objective-task-button fa-solid fa-xmark fa-fw fa-lg" title="Delete Task"></div>
        <div id="objective-task-add-{{id}}" class="objective-task-button fa-solid fa-plus fa-fw fa-lg" title="Add Task"></div>
        <div id="objective-task-add-branch-{{id}}" class="objective-task-button fa-solid fa-code-fork fa-fw fa-lg" title="Branch Task"></div>
        <div id="objective-task-duration-{{id}}" class="objective-task-button fa-solid fa-clock fa-fw fa-lg" title="Task Duration Settings"></div>
    </div>
</div>
