<div class="objective_templates_modal">
    <div class="objective_prompt_block justifyCenter">
        <label for="objective-template-select">Task Templates</label>
        <select id="objective-template-select" class="text_pole"></select>
    </div>
    <div class="objective_prompt_block justifyCenter">
        <input id="objective-template-save" class="menu_button" type="submit" value="Save Current Tasks as Template" />
        <input id="objective-template-load" class="menu_button" type="submit" value="Load Template" />
        <input id="objective-template-delete" class="menu_button" type="submit" value="Delete Template" />
    </div>
    <div class="objective_prompt_block justifyCenter">
        <input id="objective-template-export" class="menu_button" type="submit" value="Export Selected Template" />
        <input id="objective-template-import" class="menu_button" type="submit" value="Import Templates" />
    </div>
    <hr class="m-t-1 m-b-1">
    <small>Save your current task structure as a template to reuse later. Templates include all tasks and subtasks but not their completion status.</small>
    <hr class="m-t-1 m-b-1">
    <div id="objective-template-preview" class="objective_template_preview">
        <p>Select a template to preview</p>
    </div>
</div>
